<!-- Home Post Menu -->
<div class="ui three item menu segment">
  <%= link_to 'Text Post', posts_new_path(0), class:"item" %>
  <%= link_to 'Image Post', posts_new_path(1), class:"item" %>
  <%= link_to 'Link Post', posts_new_path(2), class:"item" %>
</div>




