<!-- Home Post Menu -->
<div class="ui three item menu segment">
  <a class=" item">Text Post</a>
  <a class="item">Image Post</a>
  <a class="item">Link Post</a>
</div>

<%= render 'layouts/post' %>


